html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #040f0f;
}

p {
    color: white;
    font-size: 123px;
}

hr {
    color: #0cb00c;
}